@model int

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="text-primary text-center">Seat Booked Successfully!</h1>
            Your Booking ID is : @Model <br /><br />
            <img src="~/images/paymentDone.png" style="width: 50%" />
        </div>
        <div class="col-12 text-center" style="color: maroon">
            <br />
            Your booking has been confirmed successfully!
            <br />
        </div>
    </div>
</div>