{% extends 'store/base.html' %}
{% load static %}
{% load customfunction %}
{% block headermenu %}

{% endblock %}

			{% block container %}
			<div class="row">
				
						<ul id="demo3">
							{% for sld in slide %}
							<li><img height="100" src="{{ sld.slideimg.url }}"/></li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="titleheader">
						<h3 class="h2header text-center">New Published Book</h3>
						<a href="#">See All</a>
					</div>
					<div class="regulara sliderzx">
						{% for item in newbooks %}
						<div class="book-wrapper text-center">
							<div class="coverpage">
								<img src="{{ item.coverpage.url }}"/>
							</div>
							<a href="{% url 'store:book' id=item.id %}">{{ item.name|text_short }}</a>
							<a href="{% url 'store:writer' id=item.writer.id %}">{{ item.writer }}</a>
							<div class="rating">
								{{ item.totalrating|averagerating:item.totalreview }}
								<span class="totalrating">{{ item.totalreview|add:-1 }}</span>
							</div>
							<p> ₹{{ item.price }}</p>
							<button class="btn btn-danger" id="addTocart" data-book-id="{{ item.id }}">
									<i class="fa fa-shopping-cart""></i>Add to cart
								</button>
						</div>
						{% endfor %}
					</div>
				</div>

				<div class="col-sm-12">
					<div class="titleheader">
						<h3 class="h2header text-center">Top Selling Book</h3>
					</div>
					<div class="regulara sliderzx">
						{% for p in newbooks %}
						<div class="book-wrapper text-center">
							<div class="coverpage">
								<img src="{{ p.coverpage.url }}"/>
							</div>
							<a href="{% url 'store:book' id=p.id %}">{{ p.name|text_short }}</a>
							<a href="{% url 'store:writer'  id=p.writer.id %}">{{ p.writer }}</a>
							<div class="rating">
								{{ p.totalrating|averagerating:p.totalreview }}
								<span class="totalrating">{{ p.totalreview|add:-1 }}</span>
							</div>
							<p> ₹{{ p.price }}</p>
							<button class="btn btn-danger" id="addTocart" data-book-id="{{ p.id }}">
									<i class="fa fa-shopping-cart""></i>Add to cart
								</button>
						</div>
						{% endfor %}
					</div>
				</div>
			</div> 
			{% endblock %}
