<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Flight List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Flight" asp-action="Upsert" class="btn btn-primary"><i class="bi bi-plus-circle"></i>&nbsp; Add New Flight</a>
        </div>
    </div>
    <br /><br />
    <table id="tblData" class="table table-bordered table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>Airline</th>
                <th>From</th>
                <th>To</th>
                <th>Starting Time</th>
                <th>Reaching Time</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/flight.js"></script>
}